<fieldset class="advanced-search__search-field--booleans">
  <legend class="visually-hidden">Select a boolean operator for field <%= index %></legend>
  <%
    ["AND", "OR", "NOT"].each do |boolean|
    input_id = "#{boolean.downcase}-#{index}"
  %>
    <div class="checkbox">
      <input type="radio" id="<%= input_id %>" name="boolean-<%= index %>" value="<%= boolean %>" <%= 'checked' if boolean == "AND" %>>
      <label for="<%= input_id %>"><%= boolean %></label>
    </div>
  <% end %>
</fieldset>
