<% @presenter.advanced_search.checked_search_options.each_with_index do |option, index| %>
  <% search_field_id = "search-field-#{index}" %>
  <div class="advanced-search__search-field" id="<%= search_field_id %>">
    <%= erb :"advanced/partials/search-fields/_booleans", locals: { index: index } %>
    <div class="search-form__inputs advanced-search__search-field--inputs">
      <%= erb :"partials/header/search/_search-options", locals: { search_options: @presenter.search_options, index: index } %>
      <%= erb :"advanced/partials/search-fields/_search", locals: { value: nil, index: index } %>
      <%= erb :"advanced/partials/search-fields/_remove-field", locals: { index: index, search_field_id: search_field_id } %>
    </div>
  </div>
<% end %>
<%= erb :"advanced/partials/search-fields/_add-field" %>
