<%
  if @presenter.current_datastore == "catalog"
    libraries = [
      "All libraries",
      "U-M Ann Arbor Libraries",
      "Flint Thompson Library",
      "Bentley Historical Library",
      "William L. Clements Library"
    ]
    uri = URI.parse(request.fullpath)
    params_hash = CGI.parse(uri.query.to_s)
    # Default to "U-M Ann Arbor Libraries" if no library is selected
    selected_library = params_hash["library"]&.first || libraries[1]
%>
  <form class="library-scope container__rounded--no-shadow" method="get" action="/<%= @presenter.current_datastore %>">
    <% params.each do |key, value| %>
      <% unless key == "library" %>
        <% if value.is_a?(Array) %>
          <% value.each do |v| %>
            <input type="hidden" name="<%= key %>[]" value="<%= v %>">
          <% end %>
        <% else %>
          <input type="hidden" name="<%= key %>" value="<%= value %>">
        <% end %>
      <% end %>
    <% end %>
    <label class="library-scope__label strong" for="library-scope__select">Library Scope</label>
    <select name="library" class="library-scope__select" id="library-scope__select" autocomplete="off">
      <% libraries.each do |library| %>
        <option value="<%= library %>" <%= "selected" if (selected_library == library) %>><%= library %></option>
      <% end %>
    </select>
    <button type="submit" class="library-scope__submit hide__javascript">Apply</button>
  </form>
<% end %>
