<%
  total_results = 236
  current_page = params[:page].to_i || 1
  per_page = 10
  start_result = current_page > 1 ? ((current_page - 1) * per_page) + 1 : 1
  end_result = [(start_result + per_page) - 1, total_results].min
%>
<div class="container__rounded--no-shadow content results__summary">
  <div class="results__summary--content">
    <% if total_results > 0 %>
      <p><%= start_result %> to <%= end_result %> of <%= total_results %> <%= @presenter.page_title %> results</p>
    <% else %>
      <p><span class="strong">No results</span> match your search: <span class="strong"><%= params[:query] %></span></p>
    <% end %>
    <% if total_results > 0 %>
      <%= erb :'datastores/results/partials/summary/_sort' %>
    <% end %>
  </div>
  <p>Showing results for: <span class="strong"><%= params[:query] %></span></p>
</div>
