<div class="container advanced-search">
  <%= h1(body: @presenter.page_title) %>
  <p class="text__large">Select a search category below for associated advanced search options.</p>
  <%= erb :"advanced/partials/_tabs" %>
  <form class="container__rounded page advanced-search__form">
    <h2><%= @presenter.form_title %></h2>
    <%= erb :"advanced/partials/_search-fields" %>
    <%= yield %>
    <%= erb :"advanced/partials/_button" %>
    <%= erb :"advanced/partials/_additional-options", locals: { advanced_search_options: @presenter.advanced_search_options } %>
  </form>
</div>
