<div role="tablist" aria-labelledby="actions__citation" class="citation__tablist">
  <% citations.each do |key, value| %>
    <button type="button" role="tab" aria-selected="<%= key == "MLA" %>" id="citation__<%= key.downcase %>" aria-controls="citation__<%= key.downcase %>--tabpanel" data-citation-style="<%= value %>">
      <%= key %>
    </button>
  <% end %>
</div>
