<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= @presenter.title %></title>
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/favicon-180x180.png">
  <meta name="theme-color" content="#00274C">
  <meta name="description" content="<%= @presenter.description %>">
  <meta property="og:title" content="<%= @presenter.title %>">
  <meta property="og:description" content="<%= @presenter.description %>">
  <meta property="og:site_name" content="Library Search">
  <meta property="og:type" content="website">
  <meta property="og:image" content="<%= @site_url %>/images/og-image.png">
  <meta property="og:image:alt" content="University of Michigan Library logo">
  <meta property="og:url" content="<%= @site_url %><%= request.path %>">
  <meta property="twitter:site" content="@umichlibrary">
  <meta name="version" content="<%=S.version%>">
  <% if @presenter.meta_tags %>
    <% @presenter.meta_tags.each do |tag| %>
      <meta name="citation_<%= tag["name"] %>" content="<%= tag["content"] %>">
    <% end %>
  <% end %>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="preload" href="https://cdn.jsdelivr.net/npm/@umich-lib/design-system/dist/umich-lib.min.css" as="style" />
  <link href="https://cdn.jsdelivr.net/npm/@umich-lib/design-system/dist/umich-lib.min.css" rel="stylesheet" />
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wdth,wght@0,87.5..100,300..700;1,87.5..100,300..700&display=swap" as="style" />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wdth,wght@0,87.5..100,300..700;1,87.5..100,300..700&display=swap" rel="stylesheet" />
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0..1,0&icon_names=<%= @presenter.icons %>" as="style" />
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0..1,0&icon_names=<%= @presenter.icons %>" rel="stylesheet" />
  <script async type="module" src="https://cdn.jsdelivr.net/npm/@umich-lib/design-system/dist/umich-lib-components.min.js"></script>
  <% @presenter.styles.flatten.each do |stylesheet| %>
    <link rel="preload" href="/styles/<%= stylesheet %>" as="style" />
    <link href="/styles/<%= stylesheet %>" rel="stylesheet">
  <% end %>
  <!-- Google Tag Manager -->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        "gtm.start": new Date().getTime(),
        event: "gtm.js",
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != "dataLayer" ? "&l=" + l : "";
      j.async = true;
      j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, "script", "dataLayer", "GTM-TX44PM3");
  </script>
  <!-- End Google Tag Manager -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-W0C2LGTEDC"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-W0C2LGTEDC');
  </script>
</head>
<body class="no-javascript">
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe
      src="https://www.googletagmanager.com/ns.html?id=GTM-TX44PM3"
      height="0"
      width="0"
      style="display: none; visibility: hidden;"
    ></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
  <%= erb :'partials/_header' %>
  <main>
    <div class="container">
      <details open>
        <summary>Possible meta tags</summary>
        <div>
          <ul>
            <%
              [
                "citation_abstract",
                "citation_abstract_html_url",
                "citation_abstract_pdf_url",
                "citation_author",
                "citation_author_email",
                "citation_author_institution",
                "citation_author_orcid",
                "citation_book_title",
                "citation_collection_id",
                "citation_conference",
                "citation_conference_title",
                "citation_date",
                "citation_dissertation_institution",
                "citation_dissertation_name",
                "citation_doi",
                "citation_editor",
                "citation_firstpage",
                "citation_fulltext_html_url",
                "citation_fulltext_world_readable",
                "citation_id",
                "citation_isbn",
                "citation_inbook_title",
                "citation_issn",
                "citation_issue",
                "citation_journal_abbrev",
                "citation_journal_title",
                "citation_keywords",
                "citation_language",
                "citation_lastpage",
                "citation_mjid",
                "citation_online_date",
                "citation_patent_country",
                "citation_patent_number",
                "citation_pdf_url",
                "citation_pmid",
                "citation_public_url",
                "citation_publication_date",
                "citation_publisher",
                "citation_reference",
                "citation_section",
                "citation_series_title",
                "citation_technical_report_institution",
                "citation_technical_report_number",
                "citation_title",
                "citation_volume",
                "citation_year",
              ].uniq.sort.each do |meta_tag|
            %>
              <li><%= meta_tag %></li>
            <% end %>
          </ul>
        </div>
      </details>
      <table>
        <caption>
          <p>Keys:</p>
          <ul>
            <li>** = Preferred tag</li>
          </ul>
        </caption>
        <thead>
          <tr>
            <% @presenter.ris_tags.first.keys.each do |key| %>
              <th scope="col">
                <%= key %>
              </th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @presenter.ris_tags.each do |tag| %>
            <tr>
              <% tag.values.each_with_index do |value, index| %>
                <% if index == 0 %>
                  <th scope="row">
                    <%= value %>
                  </th>
                <% else %>
                  <td>
                    <% if value.is_a?(Array) %>
                      <ul class="list__no-style">
                        <% value.sort.each do |v| %>
                          <li><%= v %></li>
                        <% end %>
                      </ul>
                    <% else %>
                      <%= value %>
                    <% end %>
                  </td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% if @presenter.breadcrumbs&.any? %>
        <%= erb :'partials/_breadcrumbs', locals: { breadcrumbs: @presenter.breadcrumbs } %>
      <% end %>
      <%= yield %>
      <% if S.dev_login? %>
        <%= erb :'partials/_development_users' %>
      <% end %>
    </div>
  </main>
  <%= erb :'partials/_footer' %>
  <% @presenter.scripts.flatten.each do |script| %>
    <script defer src="/scripts/<%= script %>"></script>
  <% end %>
</body>
</html>
