<form action="/<%= datastore %>/record/<%= record_id %>/brief" method="post" class="list__add-to" data-record-id="<%= record_id %>" data-record-datastore="<%= datastore %>">
  <%= erb :'datastores/list/partials/add-to/_button', locals: { record_title: record_title } %>
</form>
