
<% 
require 'net/http'
require 'json'
require 'uri'

uri = URI("https://search.lib.umich.edu/catalog/browse/carousel?query=#{call_number}")

# Make the HTTP request and parse the JSON response
response = Net::HTTP.get(uri)
items = JSON.parse(response)
%>
<div class="container__rounded shelf-browse">
  <header class="shelf-browse__header">
    <h2 class="h4">Shelf browse</h2>
    <%= link_to(body: "Browse in call number list", url: uri.to_s.sub("carousel", "callnumber"), classes: ["shelf-browse__header--link"]) %>
  </header>
  <div class="shelf-browse__carousel">
    <button class="shelf-browse__carousel--button shelf-browse__carousel--button-previous" id="prev-button" title="Previous page">
      <span class="material-symbols-rounded" aria-hidden="true">arrow_back_ios</span>
      <span class="visually-hidden">Previous 5 records</span>
    </button>
    <ul class="shelf-browse__carousel--items list__no-style" id="paginated-list" data-current-page="0" aria-live="polite">
      <% items.each_with_index do | item, index | %>
        <% is_current_record = item["call_number"] == call_number %>
        <li <%= "class=\"current-record\" data-page=\"0\"" if is_current_record %>>
          <a href="<%= item["url"] %>" class="container__rounded">
            <p class="current-record__badge strong">Current Record</p>
            <dl>
              <dd class="visually-hidden">
                Book Cover
              </dd>
              <dt class="shelf-browse__carousel--book_cover">
                <img src="<%= item["book_cover_url"] %>" onerror="this.src='/images/placeholders/placeholder-<%= index % 15 %>.svg'" alt="Book cover for <%= item["title"] %>">
              </dt>
              <dd class="visually-hidden">
                Title
              </dd>
              <dt class="shelf-browse__carousel--title">
                <%= item["title"] %>
              </dt>
              <dd class="visually-hidden">
                Author
              </dd>
              <dt class="shelf-browse__carousel--author">
                <%= item["author"] %>
              </dt>
              <dd class="visually-hidden">
                Date
              </dd>
              <dt class="shelf-browse__carousel--date">
                <%= item["date"] %>
              </dt>
              <dd class="visually-hidden">
                Call Number
              </dd>
              <dt class="shelf-browse__carousel--call_number">
                <%= item["call_number"] %>
              </dt>
            </dl>
          </a>
        </li>
      <% end %>
    </ul>
    <button class="shelf-browse__carousel--button shelf-browse__carousel--button-next" id="next-button" title="Next page">
      <span class="material-symbols-rounded" aria-hidden="true">arrow_forward_ios</span>
      <span class="visually-hidden">Next 5 records</span>
    </button>
  </div>
  <button class="shelf-browse__return button__ghost" disabled>
    Return to current record
  </button>
  <div id="pagination-numbers" style="display: none;"></div>
</div>
