
<% 
require 'net/http'
require 'json'
require 'uri'

uri = URI("https://search.lib.umich.edu/catalog/browse/carousel?query=#{call_number}")

# Make the HTTP request and parse the JSON response
response = Net::HTTP.get(uri)
items = JSON.parse(response)
%>
<div class="container__rounded shelf-browse">
  <header class="shelf-browse__header">
    <h2 class="h4">Shelf browse</h2>
    <%= link_to(body: "Browse in call number list", url: uri.to_s.sub("carousel", "callnumber"), classes: ["shelf-browse__header--link"]) %>
  </header>
  <div class="shelf-browse__carousel">
    <button class="shelf-browse__carousel--button shelf-browse__carousel--button-previous" title="Previous page" disabled>
      <span class="material-symbols-rounded" aria-hidden="true">arrow_back_ios</span>
      <span class="visually-hidden">Previous 5 records</span>
    </button>
    <ul class="shelf-browse__carousel--items list__no-style" data-current-page="0" aria-live="polite">
      <% items.each_with_index do | item, index | %>
        <%
          is_current_record = item["call_number"] == call_number
          is_end_and_not_current = (index == 0 || index == (items.length - 1)) && !is_current_record
        %>
        <% if is_current_record %>
          <li class="highlighted-record current-record" data-page="0">
        <% elsif is_end_and_not_current%>
          <li class="highlighted-record end-record">
        <% else %>
          <li>
        <% end %>
          <a href="<%= item["url"] %>" class="container__rounded">
            <% if is_current_record %>
              <p class="current-record__badge strong">Current Record</p>
            <% elsif is_end_and_not_current%>
              <span class="material-symbols-rounded" aria-hidden="true">list</span>
            <% end %>
            <dl>
              <% if is_end_and_not_current %>
                <dt class="visually-hidden">
                  Navigate
                </dt>
                <dd class="shelf-browse__carousel--title strong">
                  Continue browsing in call number list
                </dd>
              <% else %>
                <dt class="visually-hidden">
                  Book Cover
                </dt>
                <dd class="shelf-browse__carousel--book_cover">
                  <img src="<%= item["book_cover_url"] %>" onerror="this.src='/images/placeholders/placeholder-<%= index % 15 %>.svg'" alt="Book cover for <%= item["title"] %>">
                </dd>
                <dt class="visually-hidden">
                  Title
                </dt>
                <dd class="shelf-browse__carousel--title strong">
                  <%= item["title"] %>
                </dd>
                <dt class="visually-hidden">
                  Author
                </dt>
                <dd class="shelf-browse__carousel--author">
                  <%= item["author"] %>
                </dd>
                <dt class="visually-hidden">
                  Date
                </dt>
                <dd class="shelf-browse__carousel--date">
                  <%= item["date"] %>
                </dd>
              <% end %>
              <dt class="visually-hidden">
                Call Number
              </dt>
              <dd class="shelf-browse__carousel--call_number">
                <%= item["call_number"] %>
              </dd>
            </dl>
          </a>
        </li>
      <% end %>
    </ul>
    <button class="shelf-browse__carousel--button shelf-browse__carousel--button-next" title="Next page" disabled>
      <span class="material-symbols-rounded" aria-hidden="true">arrow_forward_ios</span>
      <span class="visually-hidden">Next 5 records</span>
    </button>
  </div>
  <button class="shelf-browse__return button__ghost" disabled>
    Return to current record
  </button>
</div>
