
<% 
require 'net/http'
require 'json'
require 'uri'

uri = URI("https://search.lib.umich.edu/catalog/browse/carousel?query=#{call_number}")

# Make the HTTP request and parse the JSON response
response = Net::HTTP.get(uri)
items = JSON.parse(response)
%>
<div class="container__rounded shelf-browse">
  <div class="shelf-browse__header">
    <h2 class="h4">Shelf browse</h2>
    <%= link_to(body: "Browse in call number list", url: uri.to_s.sub("carousel", "callnumber"), classes: ["shelf-browse__header--link"]) %>
  </div>
  <div class="shelf-browse__carousel">
    <button class="shelf-browse__carousel--button shelf-browse__carousel--button-previous" title="Previous page" disabled>
      <span class="material-symbols-rounded" aria-hidden="true">arrow_back_ios</span>
      <span class="visually-hidden">Previous 5 records</span>
    </button>
    <ul class="shelf-browse__carousel--items list__no-style" data-current-page="0" aria-live="polite">
      <% items.each_with_index do | item, index | %>
        <%
          classes = ["shelf-browse__carousel--item"]
          label = item["title"]
          caption = "Current record"
          rows = []
          is_current_record = item["call_number"] == call_number
          if is_current_record
            classes << "current-record"
          end
          is_end_and_not_current = (index == 0 || index == (items.length - 1)) && !is_current_record
          if is_end_and_not_current
            classes << "end-record"
            browse_text = "Continue browsing in call number list"
            label = "#{browse_text} for #{item["title"]}"
            caption = "<span class=\"material-symbols-rounded\" aria-hidden=\"true\">list</span>"
            rows << { header: "Navigate", data: browse_text, uid: "navigate" }
          end
          if !is_end_and_not_current
            rows << { header: "Book cover", data: "<img src=\"#{item["book_cover_url"]}\" onerror=\"this.src='/images/placeholders/placeholder-#{index % 15}.svg'\" alt=\"Book cover for #{item["title"]}\">", uid: "book_cover_url" }
            rows << { header: "Title", uid: "title" }
            rows << { header: "Author", uid: "author" }
            rows << { header: "Date", uid: "date" }
          end
          is_highlighted_record = is_current_record || is_end_and_not_current
          if is_highlighted_record
            classes << "highlighted-record"
          end
          attributes = [
            "class=\"#{classes.join(" ")}\""
          ]
          if is_current_record
            attributes << "data-page=\"0\""
          end
          rows << { header: "Call number", uid: "call_number" }
        %>
        <li <%= attributes.join(" ") %>>
          <% if !is_current_record %>
            <a href="<%= item["url"] %>">
          <% end %>
          <table class="container__rounded" aria-label="<%= label %>">
            <% if is_highlighted_record %>
              <caption><%= caption %></caption>
            <% end %>
            <thead class="visually-hidden">
              <tr>
                <th scope="col">Field</th>
                <th scope="col">Data</th>
              </tr>
            </thead>
            <tbody>
              <% rows.each do |row| %>
                <% 
                  value = row[:data] || item[row[:uid]]
                  if value
                %>
                  <tr>
                    <th class="visually-hidden" scope="row">
                      <%= row[:header] %>
                    </th>
                    <td class="shelf-browse__carousel--<%= row[:uid] %>">
                      <%= value %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
          <% if !is_current_record %>
            </a>
          <% end %>
        </li>
      <% end %>
    </ul>
    <button class="shelf-browse__carousel--button shelf-browse__carousel--button-next" title="Next page" disabled>
      <span class="material-symbols-rounded" aria-hidden="true">arrow_forward_ios</span>
      <span class="visually-hidden">Next 5 records</span>
    </button>
  </div>
  <button class="shelf-browse__return button__ghost" disabled>
    Return to current record
  </button>
</div>
