<details open class="container__rounded--no-shadow actions">
  <summary class="actions__summary">
    <%= erb :"datastores/partials/actions/_summary" %>
  </summary>
  <%= search_styled_flash %>
  <div role="tablist" aria-labelledby="actions__label" class="hide__no-javascript actions__tablist">
    <% @presenter.actions.each do |action| %>
      <button type="button" role="tab" id="actions__<%= action.uid %>" aria-selected="false" aria-controls="actions__<%= action.uid %>--tabpanel" class="button__ghost">
        <%= action %>
      </button>
    <% end %>
  </div>
  <% @presenter.actions.each do |action| %>
    <div id="actions__<%= action.uid %>--tabpanel" role="tabpanel" aria-labelledby="actions__<%= action.uid %>" class="actions__tabpanel">
      <%= erb :"datastores/partials/actions/action/_#{action.uid}" %>
    </div>
  <% end %>
</details>
