<%
  tabs = {
    "email" => "Email",
    "text" => "Text",
    "citation" => "Citation",
    "ris" => "Export&nbsp;Citation (EndNote,&nbsp;Zotero,&nbsp;etc.)",
    "link" => "Copy&nbsp;link",
    "remove-selected" => "Remove&nbsp;selected"
  }
%>
<details open class="container__rounded--no-shadow actions">
  <summary class="actions__summary">
    <%= erb :"datastores/partials/actions/_summary" %>
  </summary>
  <div role="tablist" aria-labelledby="actions__label" class="actions__tablist">
    <% tabs.each do |key, value| %>
      <button type="button" role="tab" id="actions__<%= key %>" aria-selected="false" aria-controls="actions__<%= key %>--tabpanel" class="button__ghost">
        <%= value %>
      </button>
    <% end %>
  </div>
  <% tabs.each do |key, value| %>
    <div id="actions__<%= key %>--tabpanel" role="tabpanel" aria-labelledby="actions__<%= key %>" class="actions__tabpanel">
      <%= erb :"datastores/partials/actions/_#{key}" %>
    </div>
  <% end %>
</details>
