<% holdings.each do |holding| %>
  <details class="holding" <%= "open" if holdings.count == 1%>>
    <summary>
      <span class="material-symbols-rounded" aria-hidden="true">
        <%= holding.icon %> 
      </span>
      <span class="strong">
        <span class="holding__heading"><%= holding.heading %> </span>
        &bull; <%= holding.items.count %> Items
      </span>
    </summary>
    <div class="holding__content">
      <% if holding.respond_to?(:location_url) %>
        <p><%= link_to(body: "About location", url: holding.location_url) %></p>
      <% end %>
      <% if holding.respond_to?(:holding_info) && !holding.holding_info.empty? %>
        <ul>
          <% holding.holding_info.each do |info| %>
            <li><%= info %></li>
          <% end %>
        </ul>
      <% end %>
      <table class="holding__table" id="holding__table--toggle-<%= holding.__id__ %>">
        <thead>
          <tr>
            <% holding.table_headings.each do |heading| %>
              <th scope="col" class="<%= heading.css_class %>">
                <%= heading %>
              </th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% holding.rows.each do |row| %>
            <tr>
              <% row.each do |cell| %>
                <td>
                  <%= erb :"datastores/partials/holdings/_#{cell.partial}", locals: {value: cell} %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <button class="button__ghost holding__table--toggle" aria-expanded="true" aria-controls="holding__table--toggle-<%= holding.__id__ %>">
        Show fewer
      </button>
    </div>
  </details>
<% end %>
