<%= h1(body: @presenter.page_title, classes: ["visually-hidden"]) %>

<%= erb :'/datastores/results/partials/_info', locals: { info: yield } %>

<% if @presenter.current_datastore != "everything" %>
  <div class="container results__container">
    <aside class="results__sidebar">
      <%= erb :'/datastores/results/partials/_library-scope' %>
      <%= erb :'/datastores/results/partials/_filters' %>
      <%= erb :'/datastores/results/partials/_browse', locals: { datastore: @presenter.page_title, slug: @presenter.current_datastore } %>
    </aside>

    <section class="results__content">
      <%= erb :'/datastores/results/partials/_summary' %>
      Results list
      <%= erb :'/datastores/results/partials/_pagination' %>
    </section>
  </div>
<% end %>
