<% if @patron.logged_in? %>
  <div class="alert alert__warning actions__alert">
    We're sorry. Something went wrong. Please use <%= link_to(url: "https://www.lib.umich.edu/ask-librarian", body: "Ask a Librarian") %> for help.
  </div>
  <form method="post" action="/<%= @presenter.current_datastore %>/record/<%= @record && @record.id %>/email" class="actions__form action__email--form">
    <label for="action__email--input">Email address</label>
    <input type="email" id="action__email--input" name="email" required autocomplete="on" value="<%= @patron.email %>">
    <button type="submit">Send email</button>
  </form>
<% else %>
  <%= erb :"partials/header/_login" %>
<% end %>
