<%
  # Get the current search options
  search_options = @presenter.search_options
  # Get the current query and strip it of leading/trailing whitespace.
  current_query = params[:query].to_s.strip
  # Check if the query contains any boolean operators.
  if !["AND", "OR", "NOT"].any? { |x| current_query.match?(x) }
    # If the query starts with the selected search option followed by ":(", remove that part from the query.
    if current_query.start_with?("#{search_options.selected_option_value}:(")
      current_query = current_query.sub("#{search_options.selected_option_value}:(", "")
      current_query = current_query[0..-2] if current_query.end_with?(")")
    end
  end
%>

<form class="hide__print search-form" role="search" method="post" action="/search">
  <div class="search-form__inputs viewport-container">
    <%= erb :"/partials/header/search/_search-options", locals: { search_options: search_options } %>
    <input type="search" aria-label="Search for" class="search-form__inputs--text" name="search_text" autocomplete="on" name="query" value="<%= current_query %>">
    <input type="hidden" name="search_datastore" value="<%= @presenter.current_datastore %>" />
    <button type="submit" class="search-form__inputs--submit button__primary">
      <span class="material-symbols-rounded" aria-hidden="true">search</span>
      <span class="visually-hidden">Search</span>
    </button>
    <%= link_to(body: "Advanced", url: "/advanced/#{@presenter.current_datastore}", classes: ["underline__none", "strong"]) %>
  </div>
  <%= erb :"/partials/header/search/_tip", locals: { search_options: search_options.flat_list } %>
</form>
