<%
  summary_attributes = "bgcolor=\"#f7f8f9\" style=\"background: #f7f8f9; background-color: #f7f8f9; padding: 12px 16px; text-align: left;\""
%>
<% if holdings.any? %>
  <% if holdings.too_many? %>
    <%= erb :"email/partials/_border" %>
    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="min-width: 100%;">
      <tr>
        <td <%= summary_attributes %>>
          <span style="color: #637381; font-weight: 400">
            There are multiple items, locations or volumes associated with this record; please see the catalog record for full details.
          </span>
        </td>
      </tr>
    </table>
  <% else %>
    <% holdings.list.each do |holding| %>
      <%= erb :"email/partials/_border" %>
      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="min-width: 100%;">
        <tr>
          <th <%= summary_attributes %>>
            <%= holding.heading %>
          </th>
        </tr>
        <tr>
          <td style="padding: 16px; text-align: left;">
            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="min-width: 100%;">
              <tr>
                <% holding.table_headings.each do |heading| %>
                  <th class="responsive-cell" style="border-bottom: 2px solid #e5e9ed; color: #637381; padding: 0px 16px 8px 0px; text-align: left; width: 176px; vertical-align: top; font-weight: 700;">
                    <%= heading %>
                  </th>
                <% end %>
              </tr>
              <% holding.rows.each do |row| %>
                <tr>
                  <% row.each do |cell| %>
                    <td class="responsive-cell" style="padding: 8px 16px 8px 0px; text-align: left; vertical-align: top;">
                      <%= erb :"email/partials/list-item/holdings/_#{cell.partial}", locals: {value: cell} %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            </table>
          </td>
        </tr>
      </table>
    <% end %>
  <% end %>
<% end %>
