<div class="record">
  <%= erb :'datastores/partials/_breadcrumbs', locals: { current_page: "Record" } %>
  <%= erb :'datastores/partials/_actions', locals: { patron: @patron, show_copy_link: true } %>
  <div class="container__rounded">
    <section class="record__information">
      <p>Add to list: Needs to be a partial for Results</p>
      <%= erb :'datastores/record/partials/_title', locals: { titles: @record.title } %>
      <h2 class="visually-hidden">Record info:</h2>
      <%= erb :'datastores/partials/_metadata', locals: { metadata: @record.record_info } %>
      <%= yield %>
    </section>
    <h2 class="visually-hidden">Available at:</h2>
    <p>Resource Access: Needs to be a partial for Results</p>
  </div>
  <p>Shelf browse</p>
  <% if @record.indexing_date %>
    <p class="record__indexing-date">
      <span class="strong">Date Last Indexed:</span> <%= @record.indexing_date %>
    </p>
  <% end %>
  <% if @record.marc_record %>
    <%= erb :'datastores/record/partials/_marc', locals: { data: @record.marc_record } %>
  <% end %>
</div>
