<div class="record">
  <%= erb :'datastores/partials/_breadcrumbs', locals: { current_page: "Record" } %>
  <%= erb :'datastores/partials/_actions', locals: { patron: @patron, show_copy_link: true } %>
  <div class="container__rounded">
    <ul class="record__formats list__no-style">
      <%
        formats = @record.record_info.select do |entry|
          entry.field == "Formats"
        end
      %>
      <% formats.first.data.each do |format| %>
        <li class="record__format">
          <span class="material-symbols-rounded">
            <%= format.icon %>
          </span>
          <span class="strong">
            <%= format.text %>
          </span>
        </li>
      <% end %>
    </ul>
    <section class="record__information">
      <p>Add to list: Needs to be a partial for Results</p>
      <%= erb :'datastores/record/partials/_title', locals: { titles: @record.title } %>
      <h2 class="text__normal">Record info:</h2>
      <p>Metadata: Needs to be a partial for Results</p>
      <%= yield %>
    </section>
    <h2 class="text__normal">Available at:</h2>
    <p>Resource Access: Needs to be a partial for Results</p>
  </div>
  <% if @record.shelf_browse_call_number %>
    <%= erb :'datastores/record/partials/_shelf-browse', locals: { call_number: @record.shelf_browse_call_number } %>
  <% end %>
  <% if @record.indexing_date %>
    <p class="record__indexing-date">
      <span class="strong">Date Last Indexed:</span> <%= @record.indexing_date %>
    </p>
  <% end %>
  <% if @record.marc_record %>
    <%= erb :'datastores/record/partials/_marc', locals: { data: @record.marc_record } %>
  <% end %>
</div>
