<div class="record">
  <%= erb :'datastores/list/partials/_go-to' %>
  <%= erb :'datastores/partials/_actions', locals: { patron: @patron } %>
  <div class="container__rounded record__container" data-record-id="<%= @record.id %>" data-record-datastore="<%= @presenter.current_datastore %>">
    <section class="record__information">
      <div class="record__information--header">
        <%= h1(
          body:
            @record.title.map do |title|
              <<-HTML
              <span class="record__#{title.css_class}" data-truncate="300">
                #{title.text}
              </span>
              HTML
            end.join,
          classes: ["record__title"]
        ) %>
        <%= erb :'datastores/list/partials/_add-to', locals: { datastore: @presenter.current_datastore, record_id: @record.id, record_title: @record.title.first.text } %>
      </div>
      <h2 class="visually-hidden">Record info:</h2>
      <%= erb :'datastores/partials/_metadata', locals: { metadata: @record.metadata } %>
      <%= yield %>
    </section>
    <h2 class="visually-hidden">Available at:</h2>
    <%= erb :"datastores/partials/_holdings", locals: { holdings: @record.holdings.list } %>
  </div>
  <% if @record.shelf_browse %>
    <%= erb :'datastores/record/partials/_shelf-browse', locals: { records: @record.shelf_browse } %>
  <% end %>
  <% if @record.indexing_date %>
    <p class="record__indexing-date">
      <span class="strong">Date Last Indexed:</span> <%= @record.indexing_date %>
    </p>
  <% end %>
  <% if @record.marc_record %>
    <%= erb :'datastores/record/partials/_marc', locals: { data: @record.marc_record } %>
  <% end %>
</div>
