<%= erb :'datastores/partials/_breadcrumbs', locals: { current_page: "Record" } %>
<%= erb :'datastores/partials/_actions', locals: { patron: @patron, show_copy_link: true } %>
<div class="container__rounded">
  <p>Formats</p>
  <p>Add to list</p>
  <%= h1(body: @presenter.title) %>
  <p>Metadata</p>
  <%= yield %>
  <p>Harmful language</p>
  <p>Resource Access</p>
</div>
<p>Shelf browse</p>
<%#= erb :'datastores/partials/_actions', locals: { patron: @patron, show_copy_link: true } %>
<% if @record.indexing_date %>
  <p class="indexing-date">
    <span class="strong">Date Last Indexed:</span> <%= @record.indexing_date %>
  </p>
<% end %>
<p>View MARC data</p>
